* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #114d5c;
    --bg-color: rgb(242, 242, 242);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(242, 242, 242);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2em;
    margin: 0 10px;
    background-color: rgb(230, 230, 230);
    z-index: 100;
    border-radius: 0 0 8px 8px;
    position: sticky;
    top: 0;
}

.logo {
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--primary-color);
    font-family: "Poetsen One", sans-serif;
    font-family: "Comic Neue", cursive;
}

.logo a {
    text-decoration: none;
    color: var(--primary-color);
}

nav ul {
    list-style: none;
}

nav ul a {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin-left: 1em;
    font-weight: 600;
    color: rgb(25, 25, 25);
    font-family: "PT Serif", serif;
    font-family: "Comic Neue", cursive;
    position: relative;
    padding-bottom: 2px;
}

nav ul li:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    animation: nav-border 0.5s ease-in-out forwards;
}

@keyframes nav-border {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.whatsapp-link i {
    font-size: 1.5rem;
    background: var(--primary-color);
    color: white;
    padding: 8px 10px;
    border-radius: 50%;
}

.whatsapp-link:hover {
    transform: scale(0.9);
    opacity: 0.9;
    transition: 0.5s ease-in-out;
}

header .menu-toggler {
    display: none;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin: 0 10px;
    margin-top: 10px;
    background-color: rgb(230, 230, 230);
    position: relative;
    z-index: 0;
    border-radius: 8px 8px 0 0;
}

.introduction {
    width: 45%;
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "PT Serif", serif;
    font-family: "Comic Neue", cursive;
    padding: 2em;
}

.introduction .name {
    font-weight: 800;
    font-size: 2.3rem;
}

.introduction .name span {
    color: var(--primary-color);
    font-family: "Tangerine", cursive;
    font-size: 3rem;
}

.introduction .profession {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 1em;
}

.introduction .description {
    color: rgb(25, 25, 25);
    line-height: 1.5rem;
    font-family: "Comic Neue", cursive;
}

.button-group {
    margin: 2em 0;
}

.lets-talk-btn {
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 10px 16px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

.primary-btn:hover,
.outlined-btn:hover {
    transform: scale(0.9);
    opacity: 0.9;
    transition: .5s ease-in-out;
}

.button-group button {
    margin-right: 1em;
    cursor: pointer;
    font-family: "PT Serif", serif;
    font-family: "Comic Neue", cursive;
}

.button-group .outlined-btn {
    border: 2px solid var(--primary-color);
    padding: 10px 16px;
    border-radius: 4px;
    color: var(--primary-color);
    font-weight: 600;
}

.social-icons {
    margin-top: 1em;
    display: inline-block;
}

.social-icons .fa-brands {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.5rem;
    padding: 8px;
    margin-right: .8em;
    border-radius: 50%;
    cursor: pointer;
}

.social-icons .fa-brands:hover {
    transform: scale(0.9);
    opacity: 0.9;
    color: white;
    background-color: var(--primary-color);
    transition: .5s ease-in-out;
}

.profile-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: 0 8px 0 0;
    z-index: 0;
}

.profile-image img {
    width: 80%;
    bottom: 0;
}

.profile-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    right: -25%;
    bottom: -100%;
    background-color: var(--primary-color);
    height: 100%;
    z-index: -1;
    transform: rotate(-75deg);
}

.profile-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: -100%;
    background-color: rgb(236, 37, 100);
    height: 100%;
    z-index: -1;
    transform: rotate(-75deg);
}

.section-break {
    left: 0;
    right: 0;
    height: 50px;
    background-color: var(--primary-color);
    background-color: rgb(240, 184, 202);
    background-color: rgb(236, 37, 100);
    background-color: var(--bg-color);
    margin: 0 10px;
    position: relative;
    border-radius: 0 0 8px 8px;
    border: 2px solid var(--primary-color);
}

.section-break::after {
    content: 'For the love of light, composition and motion';
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 42px;
    width: 99.5%;
    margin: auto auto;
    background-color: var(--primary-color);
    background-color: rgb(240, 184, 202);
    background-color: var(--primary-color);
    color: white;
    z-index: 1;
    position: absolute;
    border-radius: 6px;
    font-family: "Tangerine", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.follow-instagram {
    margin: 3rem 10px;
    text-align: center;
}

.follow-instagram h3 {
    font-family: "Comic Neue", cursive;
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.follow-instagram h3+a {
    padding: 1em;
    font-family: "Comic Neue", cursive;
    font-size: 1.2rem;
    color: var(--primary-color);
    text-decoration: none;
}

.follow-instagram h3+a:hover {
    text-decoration: underline;
}

.scroll-arrows {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 5px 0;
}

.scroll-arrows .scroll {
    padding: 5px 12px;
    font-size: 1.3rem;
    cursor: pointer;
    border: 1px solid black;
    color: var(--primary-color);
    transition: 0.5s ease-in-out;
    border-radius: 3px;
}

.scroll-arrows .scroll:hover {
    background-color: var(--primary-color);
    color: white;
}

.instagram-gallery {
    height: 200px;
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    position: relative;
    scroll-behavior: smooth;
    border-radius: 8px;
}

.instagram-gallery::-webkit-scrollbar {
    display: none;
}

.instagram-image {
    height: 200px;
    width: 200px;
    position: relative;
}

.instagram-image img {
    height: 100%;
    width: 200px;
    box-sizing: border-box;
    object-fit: cover;
}

.instagram-link {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    font-size: 1rem;
    color: white;
}

.instagram-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    text-decoration: none;
    color: white;
}

.instagram-link i {
    font-size: 2rem;
    color: white;
}

.instagram-image:hover>img {
    transform: rotate(5deg);
    filter: grayscale(1);
    transition: 1s ease-in-out;
}

.instagram-image:hover .instagram-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s ease-in-out;
}

.services-section {
    margin: 1.5rem 10px;
}

.heading {
    padding: 0 1em;
    font-size: 2rem;
    font-family: "Poetsen One", sans-serif;
    font-family: "Comic Neue", cursive;
    color: var(--primary-color);
}

.services-container .service {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 1em;
    background-color: rgb(230, 230, 230);
    border-radius: 8px
}

.service-description {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    padding-left: 2em;
}

.service-description h3 {
    font-family: "Tangerine", cursive;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.service-description small {
    margin: 1.5em 0;
    color: var(--primary-color);
    font-family: "Tangerine", cursive;
    font-family: "Comic Neue", cursive;
    font-size: 1rem;
    font-weight: 600;
}

.service-description p {
    font-family: "Philosopher", sans-serif;
    line-height: 1.5rem;
    font-family: "Comic Neue", cursive;
}

.service-image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-image img {
    width: 100%;
    height: 100%;
    max-height: 350px;
    object-fit: cover;
}

.why-me-section {
    background-color: var(--primary-color);
    background-color: #093947;
    color: rgb(242, 242, 242);
    padding: 1em 2em;
    margin: 0 10px;
    margin-bottom: 2em;
    border-radius: 8px;
    font-family: "Comic Neue", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.why-me-section>div:nth-child(1) {
    width: 70%;
    flex: 1 auto;
    margin-bottom: 2rem;
}

.why-me-section>div:nth-child(2) {
    width: 30%;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.why-me-section>div:nth-child(2)::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgb(236, 37, 100);
    transform: rotate(100deg);
    z-index: -1;
}

.why-me-section>div:nth-child(2)::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-color: white;
    transform: rotate(-100deg);
    z-index: -2;
}

.why-me-section>div:nth-child(2) img {
    width: 80%;
}

.why-me-section p {
    line-height: 1.8rem;
}

@media (max-width: 1100px) {
    .profile-image img {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    header {
        padding: 1em 1em;
        border-radius: 0;
    }

    nav {
        display: none;
        padding: 1em;
    }

    header .menu-toggler {
        display: flex;
        font-size: 1.5rem;
        font-weight: 600;
    }

    header nav.show {
        display: block;
        position: absolute;
        background-color: var(--bg-color);
        top: 100%;
        right: 0;
        min-width: 50%;
        border-radius: 0 0 0 8px;
        animation: show-nav 0.5s ease-in-out;
    }

    header nav li {
        display: block;
        padding: 1em 0;
    }

    @keyframes show-nav {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0%);
        }
    }

    .hero-section {
        flex-direction: column;
    }

    .introduction {
        width: 100%;
        padding: 2em 1em;
    }

    .profile-image {
        width: 100%;
        padding-top: 2em;
        background-color: rgb(240, 184, 202);
        border-radius: 0;
        z-index: 0;
    }

    .profile-image img {
        width: 70%;
    }

    .heading {
        padding: 1em 10px;
    }

    .services-container .service {
        flex-direction: column;
    }

    .service-description {
        width: 100%;
        padding: 1em;
    }

    .service-image {
        width: 100%;
    }

    .why-me-section {
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
    }

    .why-me-section>div:nth-child(1),
    .why-me-section>div:nth-child(2) {
        width: 100%;
    }
}

@media (max-width: 460px) {
    header nav.show {
        min-width: 80%;
    }
}