* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #114d5c;
    --bg-color: rgb(242, 242, 242);
}

body {
    background-color: rgb(242, 242, 242);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    margin: 0 10px;
    background-color: rgb(230, 230, 230);
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--primary-color);
    font-family: "Poetsen One", sans-serif;
}

.logo span {
    color: black;
}

nav ul {
    list-style: none;
}

nav ul a {
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin-left: 1em;
    font-weight: 600;
    color: rgb(25, 25, 25);
    font-family: "PT Serif", serif;
    position: relative;
    padding-bottom: 2px;
}

nav ul li:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    animation: nav-border 0.5s ease-in-out forwards;
}

@keyframes nav-border {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.whatsapp-link i {
    font-size: 1.5rem;
    background: var(--primary-color);
    color: white;
    padding: 8px 10px;
    border-radius: 50%;
}

.whatsapp-link:hover {
    transform: scale(0.9);
    opacity: 0.9;
    transition: 0.5s ease-in-out;
}

header .menu-toggler {
    display: none;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin: 0 10px;
    margin-top: 1em;
    background-color: rgb(230, 230, 230);
    position: relative;
    z-index: -1;
}

.introduction {
    width: 45%;
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "PT Serif", serif;
    padding: 2em;
}

.introduction .name {
    font-weight: 800;
    font-size: 2.3rem;
}

.introduction .name span {
    color: var(--primary-color);
    font-family: "Poetsen One", sans-serif;
}

.introduction .profession {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 1em;
}

.introduction .description {
    color: rgb(25, 25, 25);
    line-height: 1.5rem;
    font-family: "Philosopher", sans-serif;
}

.button-group {
    margin: 2em 0;
}

.primary-btn {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 10px 16px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

.primary-btn:hover,
.outlined-btn:hover {
    transform: scale(0.9);
    opacity: 0.9;
    transition: .5s ease-in-out;
}

.button-group button {
    margin-right: 1em;
    cursor: pointer;
    font-family: "PT Serif", serif;
}

.button-group .outlined-btn {
    border: 2px solid var(--primary-color);
    padding: 10px 16px;
    border-radius: 4px;
    color: var(--primary-color);
    font-weight: 600;
}

.social-icons {
    margin-top: 1em;
    display: inline-block;
}

.social-icons .fa-brands {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 1.5rem;
    padding: 8px;
    margin-right: .8em;
    border-radius: 50%;
    cursor: pointer;
}

.social-icons .fa-brands:hover {
    transform: scale(0.9);
    opacity: 0.9;
    color: white;
    background-color: var(--primary-color);
    transition: .5s ease-in-out;
}

.profile-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.profile-image img {
    width: 80%;
    bottom: 0;
}

.profile-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10%;
    right: -25%;
    bottom: -100%;
    background-color: var(--primary-color);
    height: 100%;
    z-index: -1;
    transform: rotate(-75deg);
}

.profile-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: -100%;
    background-color: rgb(236, 37, 100);
    height: 100%;
    z-index: -1;
    transform: rotate(-75deg);
}

.section-break {
    left: 0;
    right: 0;
    height: 50px;
    background-color: var(--primary-color);
    margin: 0 10px;
    position: relative;
}

.section-break::after {
    content: '';
    right: 0;
    height: 50px;
    width: 55%;
    background-color: var(--primary-color);
    background-color: rgb(240, 184, 202);
    z-index: 1;
    position: absolute;
    border-radius: 50px 0 0 50px;
}

.section-break::before {
    content: '';
    left: 0;
    height: 50px;
    width: 50%;
    background-color: var(--primary-color);
    z-index: 1;
    position: absolute;
    border-radius: 0 50px 50px 0;
}

.services-section {
    margin: 0 10px;
}

.services-container .service {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-top: 1em;
    padding: 1em 0 0 2em;
    background-color: rgb(230, 230, 230);
}

.service-description {
    width: 45%;
}

.service-image {
    width: 45%;
}

.service-image img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: top;
}

@media (max-width: 1100px) {
    .profile-image img {
        width: 90%;
    }
}


@media (max-width: 1000px) {
    header {
        padding: 1em 1em;
        position: relative;
    }

    nav {
        display: none;
    }

    header .menu-toggler {
        display: flex;
    }

    header nav.show {
        display: block;
        position: absolute;
        background-color: var(--bg-color);
        top: 100%;
        right: 0;
        min-width: 50%;
        border-radius: 0 0 8px 0;
        animation: show-nav 0.5s ease-in-out;
    }

    header nav li {
        display: block;
        padding: 1em 0;
    }

    @keyframes show-nav {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0%);
        }
    }

    .hero-section {
        flex-direction: column;
    }

    .introduction {
        width: 100%;
        padding: 2em 1em;
    }

    .profile-image {
        width: 100%;
        padding-top: 2em;
    }

    .profile-image img {
        width: 70%;
    }

    .services-container .service {
        flex-direction: column;
    }

    .service-description {
        width: 100%;
    }

    .service-image {
        width: 100%;
    }
}

@media (max-width: 460px) {
    header nav.show {
        min-width: 80%;
    }
}